<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

<connectionStrings><add name="ModelDB" connectionString="data source=zeegowigo\sqlexpress;initial catalog=zwfdo;persist security info=True;user id=zwfdos;password=zw123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings></configuration>